body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}
.sfondo-azzurro {
    background-color: #378ADD;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.pulse {
    animation: pulse 0.4s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}